@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="app" class="container-fluid h-100" v-cloak>
    @Html.AntiForgeryToken()

    <div class="row input-row">
        <div class="col-4 text-right pbqs">
            <div v-for="pbq in prebuiltQueries"
                 :key="pbq.name"
                 class="pbq px-1 pb-1 mx-1"
                 :class="{selected: pbq == selectedPrebuiltQuery}"
                 v-on:click="selectPrebuiltQuery(pbq)">
                <span>{{pbq.name}}</span>
            </div>
        </div>
        <div class="col-8">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" :class="{ active: inputTab === 0 }" href="#" v-on:click="selectInputTab(0)">GraphQL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" :class="{ active: inputTab === 1 }" href="#" v-on:click="selectInputTab(1)">Params</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" :class="{ active: inputTab === 2 }" href="#" v-on:click="selectInputTab(2)">Notes</a>
                </li>
            </ul>
            <div class="input-controls">
                <textarea v-model="graphql" v-show="inputTab === 0"></textarea>
                <textarea v-model="graphqlParameters" v-show="inputTab === 1"></textarea>
                <div class="scrollPanel contains-pre" v-html="notes" v-show="inputTab === 2"></div>
            </div>
        </div>
    </div>

    <div class="row input-button-row">
        <div class="col-4"></div>
        <div class="col-8 mt-1">
            <button v-if="!waiting" class="btn btn-sm btn-primary" v-on:click="run">Run Query</button>
            <div v-if="waiting" class="spinner-border text-secondary ml-4" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div class="row results-row" v-if="results.length > 0">
        <div class="col-4 scroll-panel">
            <div v-for="r in results" :key="r.key" class="result-card p-1 mt-2" :class="{selected: r === result, error: r.error}" v-on:click="selectResult(r)">
                {{r.error || r.oneLineGraphql}}
            </div>
        </div>
        <div class="col-8 h-100">
            <ul class="nav nav-tabs">
                <li v-for="(tab, index) in resultTabs" :key="tab" class="nav-item">
                    <a class="nav-link" :class="{ active: index === resultTab, disabled: (index === 6 && result && !result.error) || (index === 1 && result && !result.statistics) }" href="#" v-on:click="selectResultTab(index)">{{ tab }}</a>
                </li>
            </ul>
            <div class="result-text-container">
                <textarea readonly v-model="result.data" v-show="resultTab === 0"></textarea>
                <div class="statistics scroll-panel p-1" v-show="resultTab === 1">
                    <div v-for="stat in result.statistics" :key="stat.name" class="statistic">
                        <div>{{stat.name}}</div>
                        <div>{{stat.value}}</div>
                    </div>
                </div>
                <textarea readonly v-model="result.tsql" v-show="resultTab === 2"></textarea>
                <textarea readonly v-model="result.tsqlParameters" v-show="resultTab === 3"></textarea>
                <textarea readonly v-model="result.graphql" v-show="resultTab === 4"></textarea>
                <textarea readonly v-model="result.graphqlParameters" v-show="resultTab === 5"></textarea>
                <textarea readonly v-model="result.error" v-show="resultTab === 6"></textarea>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script src="https://unpkg.com/popper.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/v-tooltip@2.0.2"></script>

<script>
    var prebuiltQueries = [
        {
            name: 'simple query',
            graphql: `{
  product (name: "Hammer") {
    name
  }
}`,
            graphqlParameters: '',
            notes: ``
        },
        {
            name: 'custom SQL for field',
            graphql: `query ProductTotals {
  products {
    name description price totalRevenue
  }
}`,
            graphqlParameters: '{ }',
            notes: `<p>The totalRevenue field uses custom SQL.
Here's how the Product's entity defines the totalRevenue field.</p>
<pre>
Field.CalculatedField(this, "totalRevenue", ValueType.Float, IsNullable.No,
    (tableAlias) => $"SELECT (SELECT SUM(od.Quantity)
                        FROM OrderDetail od
                        WHERE {tableAlias}.[Name] = od.ProductName) * {tableAlias}.Price"
)
</pre>`
        },
        {
            name: 'mapping a TVF',
            graphql: `query SellerDescendants ($name: String) {
  seller (name: $name) {
    name city state descendants {
      name city state
    }
  }
}`,
            graphqlParameters: '{ name: "Bill" }',
            notes: `<p>The Seller's "descendants" field maps to a table-valued-function.</p>
<p>GraphqlToTsql can map to virtually any SQL you want to create.
In this case we tap into a TVF that is already defined in the database,
to recursively find the IDs of all the descendants for a Seller.
Our custom SQL then joins to the Seller table to return a set of Seller entities.</p>
<pre>
Field.CalculatedSet(this, "descendants",
    (tableAlias) => $"SELECT s.* FROM tvf_AllDescendants({tableAlias}.Name) d INNER JOIN Seller s ON d.Name = s.Name"
)
</pre>`
        },
        {
            name: 'custom SQL for entity',
            graphql: `query SellerTotals ($name: String) {
  seller (name: $name) {
    name city state
    sellerTotal { totalOrders totalQuantity totalAmount }
  }
}`,
            graphqlParameters: '{ name: "Bill" }',
            notes: `<p>Custom SQL is used for the sellerTotal table -- it is not a physical table.</p>
<p>Being able to use a virtual table like this is powerful, and lets you expose your data
via GraphQL in ways that are quite different from your data's
physical structure.</p>
<p>This uses a C# "Entity" class just as for regular entities, then uses the "SqlDefinition" property
for the SQL query that defines the data set.</p>
<pre>
    public class SellerTotalEntity : EntityBase
    {
        public static SellerTotalEntity Instance = new SellerTotalEntity();

        public override string Name => "sellerTotal";
        public override string DbTableName => "SellerTotal";
        public override string[] PrimaryKeyFieldNames => new[] { "sellerName" };
        public override string <b>SqlDefinition</b> => @@"
SELECT
  s.[Name] AS SellerName
, COUNT(DISTINCT o.Id) AS TotalOrders
, SUM(od.Quantity) AS TotalQuantity
, SUM(od.Quantity * p.Price) AS TotalAmount
FROM Seller s
INNER JOIN [Order] o
  ON s.Name = o.SellerName
INNER JOIN OrderDetail od
  ON o.Id = od.OrderId
INNER JOIN Product p
  ON od.ProductName = p.[Name]
GROUP BY s.[Name]
".Trim();

        protected override List<Field> BuildFieldList()
        {
            return new List<Field>
            {
                Field.Column(this, "sellerName", "SellerName", ValueType.String, IsNullable.No),
                Field.Column(this, "totalOrders", "TotalOrders", ValueType.Int, IsNullable.No),
                Field.Column(this, "totalQuantity", "TotalQuantity", ValueType.Int, IsNullable.No),
                Field.Column(this, "totalAmount", "TotalAmount", ValueType.Float, IsNullable.No),

                Field.Row(SellerEntity.Instance, "seller", new Join(
                    ()=>this.GetField("sellerName"),
                    ()=>SellerEntity.Instance.GetField("name"))
                )
            };
        }
    }
</pre>`
        },
        {
            name: 'introspection',
            graphql: `query IntrospectionQuery {
      __schema {

        queryType { name }
        mutationType { name }
        subscriptionType { name }
        types {
          ...FullType
        }
        directives {
          name
          description

          locations
          args {
            ...InputValue
          }
        }
      }
    }

    fragment FullType on __Type {
      kind
      name
      description

      fields(includeDeprecated: true) {
        name
        description
        args {
          ...InputValue
        }
        type {
          ...TypeRef
        }
        isDeprecated
        deprecationReason
      }
      inputFields {
        ...InputValue
      }
      interfaces {
        ...TypeRef
      }
      enumValues(includeDeprecated: true) {
        name
        description
        isDeprecated
        deprecationReason
      }
      possibleTypes {
        ...TypeRef
      }
    }

    fragment InputValue on __InputValue {
      name
      description
      type { ...TypeRef }
      defaultValue
    }

    fragment TypeRef on __Type {
      kind
      name
      ofType {
        kind
        name
        ofType {
          kind
          name
          ofType {
            kind
            name
            ofType {
              kind
              name
              ofType {
                kind
                name
                ofType {
                  kind
                  name
                  ofType {
                    kind
                    name
                  }
                }
              }
            }
          }
        }
      }
    }
`,
            graphqlParameters: '',
            notes: `<p>This is the introspection query used by graphiql</p>
<p>If you're curious how GraphqlToTsql handles introspection, take a look
at the generated SQL. You'll see giant CTEs that define the introspection data.</p>`
        },
        {
            name: 'order by',
            graphql: `query SellerDetails ($who: String) {
  seller (name: $who) {
    name city state postalCode
    recruits (orderBy: [{state: ASC}, {name: ASC}]) { name state }
    sellerBadges (orderBy: {dateAwarded: DESC}) { badge { name} dateAwarded }
    orders (orderBy: {date: DESC}, first: 1000) { id date }
  }
}`,
            graphqlParameters: '{ "who": "bill" }',
            notes: `<p>Find a lot of information about Bill, using orderBy</p>
<p>Notice that the list of Bill's recruits is sorted by two columns,
first by state and then by name.</p>
<p>In GraphqlToTsql you can orderBy any scalar field.</p>
`
        },
        {
            name: 'order by calculated field',
            graphql: `{
  products (first: 1, orderBy: { totalRevenue: DESC }) {
    name price totalRevenue
    sellerProductTotals (orderBy: { totalAmount: DESC }) { seller { name } totalAmount totalQuantity }
  }
}`,
            graphqlParameters: '{ }',
            notes: `<p>Find the top selling product</p>
<p>This query orders products by a calculated field, totalRevenue, and returns the first one.</p>
<p>Take a peek at the generated TSQL for this query. You'll see the <i>totalRevenue</i>
expression used twice -- once for the ORDER BY clause, and once for the return value.</p>
`
        }
    ];

</script>
<script>

    function removeWhitespace(str) {
        return (str || "").replace(/\s+/g, " ");
    }

      const { createApp } = Vue

      createApp({
        data() {
            return {
                prebuiltQueries: prebuiltQueries,
                selectedPrebuiltQuery: null,
                graphql: "",
                graphqlParameters: "",
                notes: "",
                waiting: false,
                results: [],
                result: null,
                inputTab: 0,
                resultTabs: ["Data", "Stats", "TSQL", "Tsql Params", "GraphQL", "Params", "Error"],
                resultTab: 0
            }
        },
        methods: {
            run: function () {
                var vm = this;
                vm.waiting = true;

                function formatObject(objectString) {
                    if (!objectString) return objectString;

                    // We might have been sent an object string, a json string, or an object
                    var jsObject;
                    if (typeof objectString !== "string") {
                        jsObject = objectString
                    } else {
                        jsObject = Function('return ' + objectString)();
                    }

                    if (!jsObject) return objectString;
                    var json = JSON.stringify(jsObject, null, 2);
                    return json;
                }

                function toObject(objectString) {
                    var json = formatObject(objectString);
                    return json
                        ? JSON.parse(json)
                        : null;
                }

                function regularResult(data) {
                    var result = {
                        graphql: vm.graphql,
                        oneLineGraphql: removeWhitespace(vm.graphql),
                        graphqlParameters: formatObject(vm.graphqlParameters),
                        tsql: data.tsql,
                        tsqlParameters: formatObject(data.tsqlParameters),
                        data: formatObject(data.data),
                        error: data.errors? data.errors[0] : null,
                        statistics: data.statistics,
                        key: Date.now()
                    }
                    vm.result = result;
                    vm.results.unshift(result);
                    vm.resultTab = result.error? 6 : 0;
                }

                function errorResult(error) {
                    var result = {
                        graphql: vm.graphql,
                        oneLineGraphql: removeWhitespace(vm.graphql),
                        graphqlParameters: formatObject(vm.graphqlParameters),
                        error: error,
                        key: Date.now()
                    };
                    vm.result = result;
                    vm.results.unshift(result);
                    vm.resultTab = 6;
                }

                var antiForgeryToken = $('input:hidden[name="__RequestVerificationToken"]').val();

                fetch("/api/graphql?showStatistics=true", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "RequestVerificationToken": antiForgeryToken
                    },
                    body: JSON.stringify({ query: this.graphql, variables: toObject(this.graphqlParameters) }),
                })
                .then(response => response.json())
                .then(data => {
                    regularResult(data);
                    vm.waiting = false;
                })
                .catch((error) => {
                    errorResult(error);
                    vm.waiting = false;
                });
            },
            selectInputTab: function (index) {
                this.inputTab = index;
            },
            selectResultTab: function (index) {
                this.resultTab = index;
            },
            selectResult: function (r) {
                this.result = r;
            },
            selectPrebuiltQuery: function (pbq) {
                this.selectedPrebuiltQuery = pbq;
                this.graphql = pbq.graphql;
                this.graphqlParameters = pbq.graphqlParameters;
                this.notes = pbq.notes;
            }
        },
        mounted: function () {
            this.selectPrebuiltQuery(this.prebuiltQueries[1]);
        }
      }).mount('#app');

</script>
}

@section Styles {
<style>
    [v-cloak] {
        display: none
    }
    body { background-color: whitesmoke; }
    textarea, .scrollPanel {
        min-height: 100%;
        width: 100%;
        resize: none;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: .5em;
        border-color: lightgray;
    }
    .scrollPanel { background-color: white; border: 1px solid lightgray; }
    .pbqs { margin-top: 2em; } 
    .pbq { 
        display: inline-block; 
        border: 1px solid grey; 
        border-radius: 1em; 
        background-color: whitesmoke; 
        cursor: pointer;
        font-size: smaller;
    }
    .pbq.selected { background-color: white; }
    .input-row { height: 45%; }
    .input-button-row { height: 50px; }
    .results-row { height: calc(55% - 50px); background-color: lightgray; }
    .input-controls { height: calc(100% - 37px); }
    .nav-tabs { height: 37px; overflow: hidden; }
    .result-text-container { height: calc(100% - 37px); }
    div.contains-pre { height: 5em; /* hack */ }
    div.contains-pre pre { white-space: pre-wrap; }

    a.command-link:hover {
        text-decoration: none;
    }

    .scroll-panel { width: 100%; height: 100%; overflow-y: scroll; }
    .result-card {
        border: 1px solid green;
        border-radius: .5em;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: smaller;
    }
    .result-card.selected {
        background-color: whitesmoke;
    }
    .result-card.error {
        border-color: red;
    }
    .statistics {
        background-color: white;
    }
    .statistic div {
        display: inline-block;
        width: 15em;
    }
</style>
}
