@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="app" class="container-fluid h-100" v-cloak>
    @Html.AntiForgeryToken()

    <div class="row input-row">
        <div class="col-3"></div>
        <div class="col-6">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" :class="{ active: inputTab === 0 }" href="#" v-on:click="selectInputTab(0)">GraphQL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" :class="{ active: inputTab === 1 }" href="#" v-on:click="selectInputTab(1)">Params</a>
                </li>
            </ul>
            <div class="input-controls">
                <textarea v-model="graphql" v-show="inputTab === 0"></textarea>
                <textarea v-model="graphqlParameters" v-show="inputTab === 1"></textarea>
            </div>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row input-button-row">
        <div class="col-3"></div>
        <div class="col-6 mt-1">
            <a v-on:click="run" href="#" class="command-link">Run Query</a>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row mt-3 pt-3 results-row" v-if="results.length > 0">
        <div class="col-4 scroll-panel">
            <div v-for="r in results" :key="r.key" class="result-card p-2 mt-2" :class="{selected: r === result, error: r.error}" v-on:click="selectResult(r)">
                {{r.error || r.oneLineGraphql}}
            </div>
        </div>
        <div class="col-8 h-100">
            <ul class="nav nav-tabs">
                <li v-for="(tab, index) in resultTabs" :key="tab" class="nav-item">
                    <a class="nav-link" :class="{ active: index === resultTab, disabled: index === 5 && result && !result.error }" href="#" v-on:click="selectResultTab(index)">{{ tab }}</a>
                </li>
            </ul>
            <div class="result-text-container">
                <textarea readonly v-model="resultText"></textarea>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>

    function stringToObject(objectString) {
        if (!objectString) return objectString;
        var jsObject = Function('return ' + objectString)();
        return jsObject;
    }

    function removeWhitespace(str) {
        return (str || "").replace(/\s+/g, " ");
    }

    var app = new Vue({
        el: "#app",
        data: {
            graphql: "{ epc(id: 1) { id }}",
            graphqlParameters: "{\n  a: 1\n}",
            results: [],
            result: null,
            inputTab: 0,
            resultTabs: ["GraphQL", "Params", "TSQL", "Tsql Params", "Data", "Error"],
            resultTab: 0
        },
        methods: {
            run: function () {
                var vm = this;

                function formatObject(objectString) {
                    if (!objectString) return objectString;
                    var jsObject = Function('return ' + objectString)();
                    if (!jsObject) return objectString;
                    var json = JSON.stringify(jsObject, null, 2);
                    return json;
                }

                function regularResult(data) {
                    var result = {
                        graphql: vm.graphql,
                        oneLineGraphql: removeWhitespace(vm.graphql),
                        graphqlParameters: formatObject(vm.graphqlParameters),
                        tsql: data.tsql,
                        tsqlParameters: data.tsqlParametersJson,
                        data: data.dataJson,
                        isSuccess: data.isSuccess,
                        error: data.error,
                        key: Date.now()
                    }
                    vm.result = result;
                    vm.results.unshift(result);
                    vm.resultTab = result.isSuccess? 4 : 5;
                }

                function errorResult(error) {
                    var result = {
                        graphql: vm.graphql,
                        oneLineGraphql: removeWhitespace(vm.graphql),
                        graphqlParameters: formatObject(vm.graphqlParameters),
                        isSuccessful: false,
                        error: error,
                        key: Date.now()
                    };
                    vm.result = result;
                    vm.results.unshift(result);
                    vm.resultTab = 5;
                }

                var antiForgeryToken = $('input:hidden[name="__RequestVerificationToken"]').val();

                fetch("/?handler=RunQuery", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "RequestVerificationToken": antiForgeryToken
                    },
                    body: JSON.stringify({ Graphql: this.graphql, GraphqlParametersJson: formatObject(this.graphqlParameters) }),
                })
                .then(response => response.json())
                .then(data => {
                    regularResult(data);
                })
                .catch((error) => {
                    errorResult(error);
                });
            },
            selectInputTab: function (index) {
                this.inputTab = index;
            },
            selectResultTab: function (index) {
                this.resultTab = index;
            },
            selectResult: function (r) {
                this.result = r;
            }
        },
        computed: {
            resultText: function () {
                var text = "";
                if (this.result) {
                    if (this.resultTab === 0)
                        text = this.result.graphql;
                    else if (this.resultTab === 1)
                        text = this.result.graphqlParameters;
                    else if (this.resultTab === 2)
                        text = this.result.tsql;
                    else if (this.resultTab === 3)
                        text = this.result.tsqlParameters;
                    else if (this.resultTab === 4)
                        text = this.result.data;
                    else if (this.resultTab === 5)
                        text = this.result.error;
                }
                return text;
            }
        }
    });

</script>
}

@section Styles {
<style>
    [v-cloak] {
        display: none
    }
    body { background-color: whitesmoke; }
    textarea {
        min-height: 100%;
        width: 100%;
        resize: none;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: .5em;
        border-color: lightgray;
    }
    .input-row { height: calc(48% - 1em); }
    .input-controls { height: calc(100% - 37px); }
    .input-button-row { height: 2em; }
    .nav-tabs { height: 37px; overflow: hidden; }
    .results-row { height: calc(48% - 1em); background-color: lightgray; }
    .result-text-container { height: calc(100% - 37px); }

    a.command-link:hover {
        text-decoration: none;
    }

    .scroll-panel { width: 100%; height: 100%; overflow-y: scroll; }
    .result-card {
        border: 1px solid green;
        border-radius: .5em;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .result-card.selected {
        background-color: whitesmoke;
    }
    .result-card.error {
        border-color: red;
    }
</style>
}
