@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="app" class="container-fluid h-100" v-cloak>
    @Html.AntiForgeryToken()

    <div class="row input-row">
        <div class="col-4 text-right pbqs">
            <div v-for="pbq in prebuiltQueries"
                 :key="pbq.name"
                 class="pbq px-1 pb-1 mx-1"
                 :class="{selected: pbq == selectedPrebuiltQuery}"
                 v-on:click="selectPrebuiltQuery(pbq)">
                <span>{{pbq.name}}</span>
            </div>
        </div>
        <div class="col-8">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" :class="{ active: inputTab === 0 }" href="#" v-on:click="selectInputTab(0)">GraphQL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" :class="{ active: inputTab === 1 }" href="#" v-on:click="selectInputTab(1)">Params</a>
                </li>
            </ul>
            <div class="input-controls">
                <textarea v-model="graphql" v-show="inputTab === 0"></textarea>
                <textarea v-model="graphqlParameters" v-show="inputTab === 1"></textarea>
            </div>
        </div>
    </div>

    <div class="row input-button-row">
        <div class="col-4"></div>
        <div class="col-8 mt-1">
            <button class="btn btn-sm btn-primary" v-on:click="run">Run Query</button>
        </div>
    </div>

    <div class="row mt-3 pt-3 results-row" v-if="results.length > 0">
        <div class="col-4 scroll-panel">
            <div v-for="r in results" :key="r.key" class="result-card p-1 mt-2" :class="{selected: r === result, error: r.error}" v-on:click="selectResult(r)">
                {{r.error || r.oneLineGraphql}}
            </div>
        </div>
        <div class="col-8 h-100">
            <ul class="nav nav-tabs">
                <li v-for="(tab, index) in resultTabs" :key="tab" class="nav-item">
                    <a class="nav-link" :class="{ active: index === resultTab, disabled: (index === 6 && result && !result.error) || (index === 1 && result && !result.statistics) }" href="#" v-on:click="selectResultTab(index)">{{ tab }}</a>
                </li>
            </ul>
            <div class="result-text-container">
                <textarea readonly v-model="result.data" v-show="resultTab === 0"></textarea>
                <div class="statistics scroll-panel p-1" v-show="resultTab === 1">
                    <div v-for="stat in result.statistics" :key="stat.name" class="statistic">
                        <div>{{stat.name}}</div>
                        <div>{{stat.value}}</div>
                    </div>
                </div>
                <textarea readonly v-model="result.tsql" v-show="resultTab === 2"></textarea>
                <textarea readonly v-model="result.tsqlParameters" v-show="resultTab === 3"></textarea>
                <textarea readonly v-model="result.graphql" v-show="resultTab === 4"></textarea>
                <textarea readonly v-model="result.graphqlParameters" v-show="resultTab === 5"></textarea>
                <textarea readonly v-model="result.error" v-show="resultTab === 6"></textarea>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script src="https://unpkg.com/popper.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/v-tooltip@2.0.2"></script>

<script>
    // Prebuilt queries
    var simpleQuery = `{
  product (name: "Hammer") {
    name
  }
}`;
    var customSqlFieldQuery = `#The totalRevenue field uses custom SQL:
#    Field.CalculatedField(this, "totalRevenue", ValueType.Float, IsNullable.No,
#        (tableAlias) => $"SELECT (SELECT SUM(od.Quantity) FROM OrderDetail od WHERE {tableAlias}.[Name] = od.ProductName) * {tableAlias}.Price"
#    )
#
query ProductTotals {
  products {
    name description price totalRevenue
  }
}`;
    var tvfQuery = `#The descendants field mapps to a table-valued-function:
#    Field.CalculatedSet(this, "descendants", IsNullable.Yes,
#        (tableAlias) => $"SELECT s.* FROM tvf_AllDescendants({tableAlias}.Name) d INNER JOIN Seller s ON d.Name = s.Name"
#    )
#
query SellerDescendants ($name: String) {
  seller (name: $name) {
    name city state descendants {
      name city state
    }
  }
}`;
    var customSqlForEntityQuery = `#Custom SQL is used for the sellerTotal table
#    public override string SqlDefinition => @@"
#       SELECT
#         s.[Name] AS SellerName
#       , COUNT(DISTINCT o.Id) AS TotalOrders
#       , SUM(od.Quantity) AS TotalQuantity
#       , SUM(od.Quantity * p.Price) AS TotalAmount
#       FROM Seller s
#       INNER JOIN [Order] o
#         ON s.Name = o.SellerName
#       INNER JOIN OrderDetail od
#         ON o.Id = od.OrderId
#       INNER JOIN Product p
#         ON od.ProductName = p.[Name]
#       GROUP BY s.[Name]
#    ".Trim();
#
query SellerTotals ($name: String) {
  seller (name: $name) {
    name city state
    sellerTotal { totalOrders totalQuantity totalAmount }
  }
}`;
    var introspectionQuery = `#This is the introspection query used by graphiql:
#
query IntrospectionQuery {
      __schema {

        queryType { name }
        mutationType { name }
        subscriptionType { name }
        types {
          ...FullType
        }
        directives {
          name
          description

          locations
          args {
            ...InputValue
          }
        }
      }
    }

    fragment FullType on __Type {
      kind
      name
      description

      fields(includeDeprecated: true) {
        name
        description
        args {
          ...InputValue
        }
        type {
          ...TypeRef
        }
        isDeprecated
        deprecationReason
      }
      inputFields {
        ...InputValue
      }
      interfaces {
        ...TypeRef
      }
      enumValues(includeDeprecated: true) {
        name
        description
        isDeprecated
        deprecationReason
      }
      possibleTypes {
        ...TypeRef
      }
    }

    fragment InputValue on __InputValue {
      name
      description
      type { ...TypeRef }
      defaultValue
    }

    fragment TypeRef on __Type {
      kind
      name
      ofType {
        kind
        name
        ofType {
          kind
          name
          ofType {
            kind
            name
            ofType {
              kind
              name
              ofType {
                kind
                name
                ofType {
                  kind
                  name
                  ofType {
                    kind
                    name
                  }
                }
              }
            }
          }
        }
      }
    }
`;

    var prebuiltQueries = [
        { name: "simple query", graphql: simpleQuery, graphqlParameters: "" },
        { name: "custom SQL for field", graphql: customSqlFieldQuery, graphqlParameters: '{ }' },
        { name: "mapping a TVF", graphql: tvfQuery, graphqlParameters: '{ name: "Bill" }' },
        { name: "custom SQL for entity", graphql: customSqlForEntityQuery, graphqlParameters: '{ name: "Bill" }' },
        { name: "introspection", graphql: introspectionQuery, graphqlParameters: '' }
    ];

</script>
<script>

    function removeWhitespace(str) {
        return (str || "").replace(/\s+/g, " ");
    }

    var app = new Vue({
        el: "#app",
        data: {
            prebuiltQueries: prebuiltQueries,
            selectedPrebuiltQuery: null,
            graphql: "",
            graphqlParameters: "",
            results: [],
            result: null,
            inputTab: 0,
            resultTabs: ["Data", "Stats", "TSQL", "Tsql Params", "GraphQL", "Params", "Error"],
            resultTab: 0
        },
        methods: {
            run: function () {
                var vm = this;

                function formatObject(objectString) {
                    if (!objectString) return objectString;

                    // We might have been sent an object string, a json string, or an object
                    var jsObject;
                    if (typeof objectString !== "string") {
                        jsObject = objectString
                    } else {
                        jsObject = Function('return ' + objectString)();
                    }

                    if (!jsObject) return objectString;
                    var json = JSON.stringify(jsObject, null, 2);
                    return json;
                }

                function regularResult(data) {
                    var result = {
                        graphql: vm.graphql,
                        oneLineGraphql: removeWhitespace(vm.graphql),
                        graphqlParameters: formatObject(vm.graphqlParameters),
                        tsql: data.tsql,
                        tsqlParameters: formatObject(data.tsqlParameters),
                        data: formatObject(data.data),
                        error: data.errors? data.errors[0] : null,
                        statistics: data.statistics,
                        key: Date.now()
                    }
                    vm.result = result;
                    vm.results.unshift(result);
                    vm.resultTab = result.error? 6 : 0;
                }

                function errorResult(error) {
                    var result = {
                        graphql: vm.graphql,
                        oneLineGraphql: removeWhitespace(vm.graphql),
                        graphqlParameters: formatObject(vm.graphqlParameters),
                        error: error,
                        key: Date.now()
                    };
                    vm.result = result;
                    vm.results.unshift(result);
                    vm.resultTab = 6;
                }

                var antiForgeryToken = $('input:hidden[name="__RequestVerificationToken"]').val();

                fetch("/api/graphql?showStatistics=true", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "RequestVerificationToken": antiForgeryToken
                    },
                    body: JSON.stringify({ query: this.graphql, variables: formatObject(this.graphqlParameters) }),
                })
                .then(response => response.json())
                .then(data => {
                    regularResult(data);
                })
                .catch((error) => {
                    errorResult(error);
                });
            },
            selectInputTab: function (index) {
                this.inputTab = index;
            },
            selectResultTab: function (index) {
                this.resultTab = index;
            },
            selectResult: function (r) {
                this.result = r;
            },
            selectPrebuiltQuery: function (pbq) {
                this.selectedPrebuiltQuery = pbq;
                this.graphql = pbq.graphql;
                this.graphqlParameters = pbq.graphqlParameters;
            }
        },
        mounted: function () {
            this.selectPrebuiltQuery(this.prebuiltQueries[1]);
        }
    });

</script>
}

@section Styles {
<style>
    [v-cloak] {
        display: none
    }
    body { background-color: whitesmoke; }
    textarea {
        min-height: 100%;
        width: 100%;
        resize: none;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: .5em;
        border-color: lightgray;
    }
/*    .pbqs { margin-top: 4em; } */
    .pbq { 
        display: inline-block; 
        border: 1px solid grey; 
        border-radius: 1em; 
        background-color: whitesmoke; 
        cursor: pointer;
        font-size: smaller;
    }
    .pbq.selected { background-color: white; }
    .input-row { height: calc(48% - 1em); }
    .input-controls { height: calc(100% - 37px); }
    .input-button-row { height: 2em; }
    .nav-tabs { height: 37px; overflow: hidden; }
    .results-row { height: calc(48% - 1em); background-color: lightgray; }
    .result-text-container { height: calc(100% - 37px); }

    a.command-link:hover {
        text-decoration: none;
    }

    .scroll-panel { width: 100%; height: 100%; overflow-y: scroll; }
    .result-card {
        border: 1px solid green;
        border-radius: .5em;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: smaller;
    }
    .result-card.selected {
        background-color: whitesmoke;
    }
    .result-card.error {
        border-color: red;
    }
    .statistics {
        background-color: white;
    }
    .statistic div {
        display: inline-block;
        width: 15em;
    }
</style>
}
